<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Quizz</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/public/css/style.css">
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2 mt-5">
				<form action="/" method="POST" enctype="multipart/form-data">
					<div class="form-group">
				    	<textarea class="form-control" id="question" name="question" rows="3" placeholder="Question" required></textarea>
				  	</div>
				  	<div class="form-group">
				    	<input type="text" class="form-control" id="op1" name="op1" placeholder="Option-1" required>
				   </div>
				   <div class="form-group">
				    	<input type="text" class="form-control" id="op2" name="op2" placeholder="Option-2" required>
				   </div>
				   <div class="form-group">
				    	<input type="text" class="form-control" id="op3" name="op3" placeholder="Option-3" required>
				   </div>
				   <div class="form-group">
				    	<input type="text" class="form-control" id="op4" name="op4" placeholder="Option-4" required>
				   </div>
					<div class="form-group">
						<button class="btn btn-primary btn-custom" type="submit">Post</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			
			<div class="col-md-4 mb-5 mt-5" style="display: none;">
				<div class="card">
				  <div class="card-body">
				    <h5 class="card-title"></h5>
				    <p class="card-text"></p>
				  </div>
				</div>
			</div>
			
			<div class="container mt-5">
			    <div class="d-flex justify-content-center row">
			        <div class="col-md-10 col-lg-10">
			            <div class="border">
			                <div class="question bg-white p-3 border-bottom">
			                    <div class="d-flex flex-row justify-content-between align-items-center mcq">
			                        <h4>MCQ Quiz</h4><span>(5 of 20)</span>
			                    </div>
			                </div>
			                <% items.forEach(function(image) { %>
			                <div class="question bg-white p-3 border-bottom">
			                    <div class="d-flex flex-row align-items-center question-title">
			                        <h3 class="text-danger">Q.</h3>
			                        <h5 class="mt-1 ml-2"><%= image.question %></h5>
			                    </div>
			                    <div class="ans ml-2">
			                        <label class="radio"> <input type="radio" name="radio1"> <span>1. <%= image.op1 %></span>
			                        </label>
			                    </div>
			                    <div class="ans ml-2">
			                        <label class="radio"> <input type="radio" name="radio2"> <span>2. <%= image.op2 %></span>
			                        </label>
			                    </div>
			                    <div class="ans ml-2">
			                        <label class="radio"> <input type="radio" name="radio3"> <span>3. <%= image.op3 %></span>
			                        </label>
			                    </div>
			                    <div class="ans ml-2">
			                        <label class="radio"> <input type="radio" name="radio4"> <span>4. <%= image.op4 %></span>
			                        </label>
			                    </div>
			                </div>
			                <% }) %>
			            </div>
			        </div>
			    </div>
			</div>
		</div>
	</div>
</body>

</html>